// Colors
$background-color-title: #5f3f27;
$background-color-margin: #803909;
$background-color-card: #fbe3c9;
$background-color-site: #ffffff;


$border-color-light: $background-color-card;
$border-color-mid: $background-color-margin;
$border-color-dark: $background-color-title;

$font-color-white: $background-color-site;
$font-color-light: $background-color-card;
$font-color-mid: $background-color-margin;
$font-color-dark: $background-color-title;

// App Dimensions
$app-max-width: 980px;
$app-min-width: 320px;
$app-width-small-screen: 600px;
$app-width-medium-screen: 700px;

