// Colors
$background-color-title: #5f3f27;
$background-color-margin: #803909;
$background-color-card: #fbe3c9;
$background-color-site: #ffffff;


$border-color-light: $background-color-card;
$border-color-mid: $background-color-margin;
$border-color-dark: $background-color-title;

$font-color-white: $background-color-site;
$font-color-light: $background-color-card;
$font-color-mid: $background-color-margin;
$font-color-dark: $background-color-title;
$font-color-dark-hightlight: #43208a;

// Currently unused colors
$bengal-blue: #b1cfdd;
$raspberry-smoothie: #c6a3b3;
$north-pole-blue: #709eb4;
$ultra-pure-white: #f8f9f3;

// App Dimensions
$app-max-width: 980px;
$app-min-width: 320px;
$app-width-small-screen: 600px;

// Sample colors
$brown:          #803909;
$carrot-orange:  #ef9622;
$manhattan:      #f2c58a;
$champagne:      #fbe3c9;
$spun-pearl:     #adaabf;
$prelude:        #ccc8e4;

// Triadic palette from #191248:
$color-one: #191248;
$color-two: #43208a;
$color-three: #b0379c;
$color-four: #e06c74;
$color-five: #f9d423;