/* Imports */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border-collapse: collapse;
}

/***** Global *****/
/* Body */
html,
body {
  background: #803909;
  border: 0;
  color: #5f3f27;
  font-size: 14px;
  font-family: "Open Sans", "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 100%;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  scrollbar-width: 12px;
  text-align: left;
  width: 100%;
}

form {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Headings */
h2 {
  background-color: #5f3f27;
  color: #fbe3c9;
  font-size: 25px;
  margin-bottom: 5px;
  padding: 6px;
  white-space: nowrap;
  width: 263px;
}

h3 {
  color: #803909;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

/* Anchors */
a {
  outline: 0;
}

a img {
  border: 0;
  text-decoration: none;
}

a:link,
a:visited {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  color: #C74350;
  padding: 0 1px;
  text-decoration: underline;
  text-shadow: none;
}

a:hover,
a:active {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  color: #601900;
  text-shadow: 1px 1px 1px #999;
}

/* Paragraphs */
p {
  margin-bottom: 1.143em;
}

* p:last-child {
  margin-bottom: 0;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

::-moz-selection {
  background: #F6CF74;
  color: #ffffff;
}

::selection {
  background: #F6CF74;
  color: #ffffff;
}

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 2.5em;
}

ul ul {
  list-style-type: circle;
  margin: 0.3em 0 0.5em 1.8em;
}

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}

dl {
  margin: 0 0 1.5em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

/* Quotes */
blockquote {
  font-style: italic;
}

/* Tables */
table {
  margin: 0.5em auto 1.5em auto;
  width: 98%;
}

/* Thead */
thead th {
  padding: 0.5em 0.4em;
  text-align: left;
}

/* Tbody */
tbody td {
  padding: 0.5em 0.4em;
}

/* HTML5 tags */
header,
section,
footer,
aside,
nav,
article,
figure {
  display: block;
}

/***** Appointment Buttons: spwidget *****/
.spwidget-button-wrapper {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
}

.spwidget-button,
.spwidget-button:link,
.spwidget-button:visited,
.spwidget-button:hover,
.spwidget-button:active {
  background: #f0f0f0;
  border: 1px #000 solid;
  border-radius: 3px;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  height: 15px;
  margin: 4px 0px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.spwidget-button:active {
  color: rgba(255, 255, 255, 0.75) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

/***** Layout *****/
.body {
  margin: 0 auto;
}

.main-wrapper {
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 980px;
  padding: 0;
}

#header-placeholder {
  min-height: 140px;
}
@media screen and (max-width: 600px) {
  #header-placeholder {
    min-height: 66px;
  }
}

@media screen and (min-width: 600px) {
  #navigation-placeholder {
    height: 40;
  }
}
@media screen and (max-width: 600px) {
  #navigation-placeholder {
    height: 0;
  }
}

img.right figure.right {
  float: right;
  margin: 0 0 2em 2em;
}

img.left,
figure.left {
  float: right;
  margin: 0 0 2em 2em;
}

.clear {
  background-color: transparent !important;
  border: 0;
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Header
*****************/
.header {
  border: 0;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .header {
    height: 66px;
    position: fixed;
    width: 100%;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
}
.header .header-small-screen {
  background-color: #ffffff;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0 8px;
  width: 100%;
  min-width: 320px;
}
@media screen and (min-width: 600px) {
  .header .header-small-screen {
    display: none;
  }
}
.header .header-small-screen a {
  display: flex;
}
.header .header-small-screen .hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  padding: 0;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 8px;
}
.header .header-small-screen .hamburger-menu .hamburger-line {
  background-color: #5f3f27;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
}

.nav-open .header-small-screen .hamburger-menu .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.nav-open .header-small-screen .hamburger-menu .hamburger-line:nth-child(2) {
  opacity: 0;
}

.nav-open .header-small-screen .hamburger-menu .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

.header .header-large-screen {
  background: #ffffff;
  border-color: #5f3f27;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .header .header-large-screen {
    display: none;
  }
}
.header .header-large-screen h1 a,
.header .header-large-screen h1 a:link,
.header .header-large-screen h1 a:visited,
.header .header-large-screen h1 a:hover,
.header .header-large-screen h1 a:active {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  background-color: #ffffff;
  background-image: url(../images/JourneysLogo.png);
  background-repeat: no-repeat;
  border: 0;
  color: #ffffff;
  display: block;
  font-size: 0em;
  float: left;
  height: 116px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-shadow: none;
  width: 215px;
}
.header .header-large-screen .address {
  display: block;
  float: right;
  font-size: 1.15em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3em;
  margin: 0.2em 0;
  text-align: right;
}

/* Navigation
*****************/
.navigation {
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: row;
  font-size: 1.45em;
  font-weight: lighter;
  height: 40px;
  justify-content: space-around;
  line-height: 30px;
  margin: 0.2em 0;
  padding: 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .navigation {
    height: 0;
    margin: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .navigation {
    font-size: 1.09em;
  }
}
.navigation .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .navigation .nav-menu {
    background-color: #ffffff;
    border: 2px solid #5f3f27;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    position: fixed;
    top: 66px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .navigation.nav-open .nav-menu {
    display: flex;
  }
}
.navigation .nav-item {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .navigation .nav-item {
    justify-content: center;
    padding: 5px 0;
  }
}
.navigation .nav-item a:link,
.navigation .nav-item a:visited {
  color: #fbe3c9;
  display: inline-block;
  height: 30px;
  padding: 3px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .navigation .nav-item a:link,
  .navigation .nav-item a:visited {
    color: #5f3f27;
    padding: 10px 20px;
  }
}
.navigation .nav-item a:active,
.navigation .nav-item .active a:link,
.navigation .nav-item .active a:visited {
  background: #C74451;
  text-shadow: none !important;
  box-shadow: none !important;
}
.navigation .nav-item a:hover {
  border-radius: 5px;
  box-shadow: inset -2px -2px 2px #888, inset 2px 2px 2px #ccc;
}
@media screen and (max-width: 600px) {
  .navigation .nav-item a:hover {
    background-color: #fbe3c9;
    box-shadow: none;
  }
}
.navigation .nav-item a.current {
  background-color: #a05929;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #ccc, inset -2px -2px 2px #888;
  text-shadow: 1px 1px 1px #999;
}

/*
  Body Global
*****************/
.body {
  background: #ffffff;
  border-color: #5f3f27;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 2em;
  overflow: hidden;
  width: 100%;
  /*
  Home Page
  *****************/
  /*
  FAQ
  *****************/
  /*
  Meet Us Page
  *****************/
  /*
  Meet One Of Us Page
  *****************/
  /*
  Contact Us
  *****************/
  /*
  Getting Started
  *****************/
  /*
  Our Services
  *****************/
  /*
  Resources
  *****************/
}
.body h2 {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
.body .sidenav {
  background-color: #fbe3c9;
  display: none;
}
.body .sidenav .sidenav-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 0;
}
.body .sidenav .sidenav-list .sidenav-link {
  box-sizing: border-box;
  color: #5f3f27;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  line-height: 20px;
  padding: 14px 16px;
  text-align: left;
  text-decoration: none;
}
.body .home-page {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}
.body .home-page .main {
  flex: 2;
  min-width: 300px;
  padding-right: 10px;
  box-sizing: border-box;
}
.body .home-page .main .rotating-banner {
  position: relative;
  max-width: 644px;
  padding-top: 50.62%; /* (326 / 644) * 100% */
}
.body .home-page .main .rotating-banner img {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.body .home-page .main .rotating-banner img:first-child {
  display: block;
}
.body .home-page .main .rotating-banner .rotator-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.2;
  box-sizing: border-box;
}
.body .home-page .main .main-text {
  border: 3px solid #5f3f27;
  border-radius: 3px;
  margin-top: 10px;
  padding: 0;
}
.body .home-page .main .main-text h2 {
  width: 100%;
  margin: 0;
}
.body .home-page .main .main-text p {
  font-size: 1.25em;
  padding: 0 15px 15px 15px;
}
.body .home-page .main .main-text p:first-of-type {
  padding-top: 15px;
}
.body .home-page .sidebar {
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
}
.body .home-page .sidebar .video, .body .home-page .sidebar .newsletter {
  border: 3px solid #5f3f27;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}
.body .home-page .sidebar .video h2, .body .home-page .sidebar .newsletter h2 {
  width: 100%;
  font-size: 1.5em;
  margin: 0;
}
.body .home-page .sidebar .video video, .body .home-page .sidebar .newsletter video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.body .home-page .sidebar .video img, .body .home-page .sidebar .newsletter img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}
.body .home-page .sidebar .video p, .body .home-page .sidebar .newsletter p {
  padding: 0 10px 10px 10px;
}
.body .faq {
  padding: 15px;
}
.body .faq h3 {
  color: #803909;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 3px;
}
.body .faq ul {
  margin-top: 0;
}
.body .meet-us-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}
.body .meet-us-page .counselor-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fbe3c9;
  border: 3px solid #5f3f27;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  max-width: 500px;
}
.body .meet-us-page .counselor-card > a {
  padding: 0;
}
.body .meet-us-page .counselor-card img {
  border: 3px solid #fbe3c9;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 182px;
  height: 235px;
}
.body .meet-us-page .counselor-card .counselor-info {
  flex: 1;
  min-width: 250px;
}
.body .meet-us-page .counselor-card .read-more-link {
  display: block;
  text-align: right;
  margin-top: 10px;
}
.body .meet-one {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5px;
}
.body .meet-one figure {
  flex: 0 0 241px;
  margin: 10px;
  text-align: center;
}
.body .meet-one figure div {
  background-color: #803909;
  padding: 10px;
  box-sizing: border-box;
}
.body .meet-one figure img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: block;
}
.body .meet-one figure figcaption {
  padding: 5px;
}
.body .meet-one .text-content {
  flex: 2;
  min-width: 300px;
  background-color: #fbe3c9;
  border: 5px solid #5f3f27;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
}
.body .meet-one .text-content ul {
  margin-top: 0;
}
.body .contactus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 5px;
}
.body .contactus .left-column {
  flex: 1;
  max-width: 442px;
  padding-right: 15px;
}
.body .contactus .left-column article.counselor {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
}
.body .contactus .left-column article.counselor img {
  border: 0;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 0;
}
.body .contactus .left-column article.counselor .counselor-info {
  flex: 1;
  min-width: 200px;
}
.body .contactus .left-column article.counselor h3 {
  padding-top: 0;
}
.body .contactus .left-column article.counselor p.phone {
  font-weight: bold;
}
.body .contactus .left-column article.counselor .spwidget-button,
.body .contactus .left-column article.counselor .spwidget-button:link,
.body .contactus .left-column article.counselor .spwidget-button:visited,
.body .contactus .left-column article.counselor .spwidget-button:hover,
.body .contactus .left-column article.counselor .spwidget-button:active {
  width: 199px;
}
.body .contactus .right-column {
  flex: 1;
  min-width: 400px;
  margin: 5px;
}
.body .contactus .right-column .map-container {
  border-color: #5f3f27;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  height: 350px;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 500px;
}
.body .contactus .right-column .map-container .DivGMap {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.body .gettingstarted {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5px;
}
.body .gettingstarted .left-sidebar {
  flex: 0 0 255px;
  padding-right: 20px;
  box-sizing: border-box;
}
.body .gettingstarted .left-sidebar form {
  height: auto;
  width: auto;
}
.body .gettingstarted .left-sidebar .spwidget-button,
.body .gettingstarted .left-sidebar .spwidget-button:link,
.body .gettingstarted .left-sidebar .spwidget-button:visited,
.body .gettingstarted .left-sidebar .spwidget-button:hover,
.body .gettingstarted .left-sidebar .spwidget-button:active {
  width: 239px;
}
.body .gettingstarted .left-sidebar input[type=submit] {
  margin: 4px 0;
  width: 100%;
  max-width: 255px;
}
.body .gettingstarted .left-sidebar img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 10px 0;
}
.body .gettingstarted .main {
  flex: 2;
  min-width: 300px;
  background-color: #fbe3c9;
  border-color: #5f3f27;
  border-style: solid;
  border-width: 5px;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
}
.body .gettingstarted .main h3 {
  color: #803909;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 3px;
}
.body .ourservices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 5px;
}
.body .ourservices .left-column {
  flex: 0 0 275px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.body .ourservices .left-column div {
  background-color: #fbe3c9;
  border-color: #5f3f27;
  border-style: solid;
  border-width: 5px;
  border-radius: 0;
  line-height: 1.23em;
  margin: 0;
  padding: 5px;
}
.body .ourservices .our-services-image-wrapper {
  flex: 0 0 239px;
  margin: 0 10px 10px 10px;
  padding: 0;
  box-sizing: border-box;
}
.body .ourservices .our-services-image-wrapper img {
  width: 100%;
  height: auto;
}
.body .ourservices .right-column {
  flex: 1;
  min-width: 300px;
  padding-left: 10px;
  box-sizing: border-box;
}
.body .ourservices .right-column h3 {
  background-color: #5f3f27;
  color: #fbe3c9;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 6px;
  text-align: center;
}
.body .ourservices .right-column p {
  color: #5f3f27;
  line-height: 1.23em;
  margin-bottom: 20px;
}
.body .resources {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5px;
}
.body .resources .left-column, .body .resources .center-column, .body .resources .right-column {
  flex: 1;
  min-width: 280px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.body .resources img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
.body .resources .box {
  margin-bottom: 20px;
}
.body .resources .box h3 {
  margin-bottom: 10px;
}
.body .resources .box hr {
  background-color: #5f3f27;
  border: 0;
  color: #5f3f27;
  height: 2px;
  margin: 10px auto;
  padding: 0;
  width: 95%;
}
.body .resources .center-column .box {
  background-color: #fbe3c9;
  border-color: #5f3f27;
  border-style: solid;
  border-width: 5px;
  border-radius: 3px;
  padding: 10px;
}
.body .resources .contact {
  display: flex;
  justify-content: space-between;
}

/*
  Sign Up
*****************/
#content .sign-up div.message {
  border: 0;
  margin: 24px 0;
  padding: 0;
}

#content .sign-up div.button {
  border: 0;
  margin: 24px 0;
  padding: 0;
  text-align: center;
}

#content .sign-up table {
  margin: 24px auto;
  width: auto;
}

#content .sign-up table th {
  font-weight: bold;
  text-align: right;
}

#content .sign-up table td {
  font-weight: normal;
  text-align: left;
}

#content .sign-up table td input {
  width: 300px;
}

/*# sourceMappingURL=styles.css.map */
