/* Imports */
@use 'variables' as *;
@use 'reset';

$app-navigation-header-height-small-screen: 60px;

$app-navigation-top-menu-height-large-screen: 75px;
$app-navigation-contact-info-height-large-screen: 50px;

/***** Global *****/
/* Body */
html,
body {
    background: $background-color-margin;
    border: 0;
    color: $background-color-title;
    font-size: 14px;
    font-family: 'Open Sans', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    scrollbar-width: 12px;
    text-align: left;
    width: 100%;
}

form {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Headings */

h2 {
    background-color: $background-color-title;
    color: $font-color-light;
    font-size: 25px;
    margin-bottom: 5px;
    padding: 6px;
    white-space: nowrap;
    width: 263px;
}

h3 {
    color: $font-color-mid;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

/* Anchors */
a {
    outline: 0;
}

a img {
    border: 0;
    text-decoration: none;
}

a:link,
a:visited {

    transition: all .5s ease-in-out;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
    text-shadow: none;
}

a:hover,
a:active {

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

    color: #601900;
    text-shadow: 1px 1px 1px #999;
}

/* Paragraphs */
p {
    margin-bottom: 1.143em;
}

* p:last-child {
    margin-bottom: 0;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

::-moz-selection {
    background: #F6CF74;
    color: $font-color-white;
}

::selection {
    background: #F6CF74;
    color: $font-color-white;
}

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 2.5em;
}

ul ul {
    list-style-type: circle;
    margin: .3em 0 .5em 1.8em;
}

ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

dl {
    margin: 0 0 1.5em 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

/* Quotes */
blockquote {
    font-style: italic;
}

/* Tables */
table {
    margin: .5em auto 1.5em auto;
    width: 98%;
}

/* Thead */
thead th {
    padding: .5em .4em;
    text-align: left;
}

/* Tbody */
tbody td {
    padding: .5em .4em;
}

/* HTML5 tags */
header,
section,
footer,
aside,
nav,
article,
figure {
    display: block;
}

/***** Appointment Buttons: spwidget *****/
.spwidget-button-wrapper {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.spwidget-button,
.spwidget-button:link,
.spwidget-button:visited,
.spwidget-button:hover,
.spwidget-button:active {
    background: #f0f0f0;
    border: 1px #000 solid;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 6px;
    text-decoration: none;
    text-shadow: none;
}

.spwidget-button:active {
    color: rgba(255, 255, 255, .75) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset;
}

/***** Layout *****/
.body {
    margin: 0 auto;
}

.main-wrapper {
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $app-max-width;
    padding: 0;
}

img.right figure.right {
    float: right;
    margin: 0 0 2em 2em;
}

img.left,
figure.left {
    float: right;
    margin: 0 0 2em 2em;
}

.clear {
    background-color: transparent !important;
    border: 0;
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Header
*****************/
.header {
    border: 0;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $app-width-small-screen) {
        // Small screen
        height: $app-navigation-header-height-small-screen;
        position: fixed;
        width: 100%;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
    }

    @media screen and (min-width: $app-width-small-screen) {
        // Large screen
    }

    .header-small-screen {
        background-color: transparent;
        border: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 8px;
        width: 100%;
        min-width: $app-min-width;

        @media screen and (max-width: $app-width-small-screen) {
            // Small screen
        }

        @media screen and (min-width: $app-width-small-screen) {
            // Large screen
            display: none;
        }

        a {
            display: flex;
        }
    }

    .header-large-screen {
        background: #ffffff;
        border-color: #5f3f27;
        border-style: solid;
        border-width: 0px 5px 5px 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 12px;
        width: 100%;

        @media screen and (max-width: $app-width-small-screen) {
            // Small screen
            display: none;
        }

        @media screen and (min-width: $app-width-small-screen) {
            // Large screen
        }

        h1 a,
        h1 a:link,
        h1 a:visited,
        h1 a:hover,
        h1 a:active {

            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;

            background-color: $background-color-site;
            background-image: url(../images/JourneysLogo.png);
            background-repeat: no-repeat;
            border: 0;
            color: $font-color-white;
            display: block;
            font-size: 0em;
            float: left;
            height: 116px;
            margin: 0;
            padding: 0;
            text-decoration: underline;
            text-shadow: none;
            width: 215px;
        }

        .address {
            display: block;
            float: right;
            font-size: 1.15em;
            font-weight: normal;
            font-style: normal;
            line-height: 1.3em;
            margin: .2em 0;
            text-align: right;
        }
    }
}

/* Navigation
*****************/
.navigation {
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.45em;
    font-weight: lighter;
    height: 40px;
    justify-content: space-around;
    line-height: 30px;
    margin: .2em 0;
    padding: 0;
    width: 100%;

    .nav-item {
        display: flex;
        margin: 0;

        a:link,
        a:visited {
            color: $font-color-light;
            display: inline-block;
            height: 30px;
            padding: 3px;
            text-decoration: none;
        }

        a:active,
        .active a:link,
        .active a:visited {
            background: #C74451;
            text-shadow: none !important;
            box-shadow: none !important;
        }

        a:hover {
            border-radius: 5px;
            box-shadow: inset -2px -2px 2px #888, inset 2px 2px 2px #ccc;
        }

        a.current {
            background-color: #a05929;
            border-radius: 5px;
            box-shadow: inset 2px 2px 2px #ccc, inset -2px -2px 2px #888;
            text-shadow: 1px 1px 1px #999;
        }
    }
}

/*
  Body Global
*****************/
.body {
    background: $background-color-site;
    border-color: $border-color-dark;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2em;
    overflow: hidden;
    width: 100%;

    h2 {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .sidenav {
        background-color: $background-color-card;
        display: none;

        .sidenav-list {
            display: flex;
            flex-direction: column;
            padding: 8px 0 0 0;

            .sidenav-link {
                box-sizing: border-box;
                color: $font-color-dark;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                font-weight: 700;
                height: 48px;
                line-height: 20px;
                padding: 14px 16px;
                text-align: left;
                text-decoration: none;
            }
        }
    }

    /*
    Home Page
    *****************/

    .home-page {
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 0;

        .main {
            height: 100%;
            float: left;
            width: 644px;


            .rotating-banner {
                display: block;
                height: 326px;
                margin: 0;
                padding: 0;
                position: relative;
                width: 644px;

                img {
                    display: none;
                    position: absolute;
                    top: 0;
                }

                .rotator-overlay {
                    background: transparent;
                    background: rgba(255, 255, 255, 0.6);
                    font-size: 1.92em;
                    height: 216px;
                    left: 440px;
                    line-height: 1.1em;
                    padding: 55px 5px;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 177px;
                    z-index: 1000;
                }
            }

            .main-text {
                border-color: $background-color-title;
                border-style: solid;
                border-width: 3px;
                border-radius: 3px;
                box-sizing: border-box;
                margin: 4px;

                h2 {
                    box-sizing: border-box;
                    width: 100%;
                }

                p {
                    font-size: 1.25em;
                    padding: 18px 5px;
                }
            }
        }


        /*
        Home Page Sidebar
        *****************/

        section.sidebar {
            box-sizing: border-box;
            float: right;
            height: 100%;
            width: 308px;

            .video {
                border-color: $background-color-title;
                border-style: solid;
                border-width: 3px;
                border-radius: 3px;
                box-sizing: border-box;
                margin: 4px;

                h2 {
                    border: 0;
                    box-sizing: border-box;
                    font-size: 25px;
                    margin: 0;
                    text-align: center;
                    width: 100%;
                }

                video {
                    border: 0;
                    box-sizing: border-box;
                    margin: 0;
                    width: 100%;
                }

                div {
                    border: 0;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 5px 0;
                    text-align: center;
                }

                input {
                    font-size: 1.1em;
                    font-weight: bold;
                    height: 2em;
                }
            }

            .newsletter {
                border-color: $background-color-title;
                border-style: solid;
                border-width: 3px;
                border-radius: 3px;
                box-sizing: border-box;
                margin: 4px;
                text-align: center;

                h2 {
                    box-sizing: border-box;
                    font-size: 25px;
                    width: 100%;
                }

                img {
                    border: 0;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                p {
                    padding: .3em;
                    text-align: center;
                }
            }
        }
    }

    /*
    FAQ
    *****************/

    .faq {
        padding: 0 5px;

        h3 {
            color: $font-color-mid;
            font-size: 18px;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 3px;
        }

        ul {
            margin-top: 0;
        }
    }

    /*
    Meet Us Page
    *****************/

    .meet-us-page {
        text-align: center;
        width: 100%;

        section {
            border: 0;
            display: inline-block;
            margin: 12px;
            padding: 0;
            width: 431px;

            div {
                background-color: $font-color-light;
                border-color: $background-color-title;
                border-style: solid;
                border-width: 3px;
                border-radius: 3px;
                display: block;
                height: 300px;
                margin: 0;
                padding: 0;
                width: 431px;

                div {
                    background-color: transparent;
                    border: 0;
                    display: block;
                    float: left;
                    font-size: 1em;
                    margin: 0;
                    padding: 3px;
                    width: 229px;

                    p {

                        text-align: left;
                    }
                }

                a img {
                    border-color: $font-color-light;
                    border-radius: 15px;
                    border-style: solid;
                    border-width: 3px;
                    float: left;
                    height: 235px;
                    margin: 3px 0;
                    padding: 0;
                    width: 182px;
                }

                div a.read-more-link {
                    display: block;
                    margin-top: -1em;
                    padding-top: 0;
                    text-align: right;
                }
            }
        }
    }

    /*
    Meet One Of Us Page
    *****************/

    .meet-one {
        border: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        figure {
            display: flex;
            flex-direction: column;
            margin: 5px;
            width: 241px;

            div {
                background-color: $background-color-margin;
                border: 0;
                box-sizing: border-box;
                height: 296px;
                left: 0;
                margin: 0;
                padding: 0;
                position: relative;
                top: 0;
                width: 241px;

                img {
                    border-color: $border-color-mid;
                    border-radius: 25px;
                    border-style: solid;
                    border-width: 10px;
                    height: 276px;
                    width: 221px;
                }
            }

            figcaption {
                padding-left: 5px;
            }
        }

        .text-content {
            background-color: $font-color-light;
            border-color: $background-color-title;
            border-style: solid;
            border-width: 5px;
            border-radius: 3px;
            box-sizing: border-box;
            margin: 5px;
            padding: 5px;
        }

        div.clear {
            position: relative;
        }
    }

    /*
    Contact Us
    *****************/
    .contactus {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px 5px;

        .left-column {
            flex: 1;
            min-width: 400px;
            padding-right: 15px;

            h2 {
                width: 280px;
            }

            article.counselor {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-bottom: 20px;

                img {
                    border: 0;
                    border-radius: 3px;
                    margin: 0 10px 10px 0;
                    padding: 0;
                }

                .counselor-info {
                    flex: 1;
                    min-width: 200px;
                }

                h3 {
                    padding-top: 0;
                }

                p.phone {
                    font-weight: bold;
                }

                .spwidget-button,
                .spwidget-button:link,
                .spwidget-button:visited,
                .spwidget-button:hover,
                .spwidget-button:active {
                    font-family: Arial;
                    font-size: 13px;
                    font-weight: normal;
                    height: 15px;
                    margin: 4px 0px;
                    padding: 2px 6px;
                    text-align: center;
                    width: 199px;
                }

                .spwidget-button-wrapper {
                    text-align: left;
                }
            }
        }

        .right-column {
            flex: 1;
            min-width: 400px;
            margin: 5px;

            .map-container {
                border-color: $background-color-title;
                border-style: solid;
                border-width: 3px;
                border-radius: 3px;
                height: 350px;
                margin: 0 auto 16px;
                width: 100%;
                max-width: 500px;

                .DivGMap {
                    border: 0;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

/*
  Our Services
*****************/

#content .ourservices .left-column {
    border: 0;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    width: 275px;
}

#content .ourservices .left-column h2 {
    width: auto;
}

#content .ourservices .left-column div {
    background-color: $font-color-light;
    border-color: $background-color-title;
    border-style: solid;
    border-width: 5px;
    border-radius: 0;
    line-height: 1.23em;
    margin: 0;
    padding: 5px;
    width: auto;
}

#content .ourservices .left-column div p {
    border: 0;
    margin: 6px 0;
    padding: 0;
}

#content .ourservices figure {
    background-color: $background-color-title;
    border-color: $background-color-title;
    border-style: solid;
    border-width: 5px;
    border-radius: 0;
    float: left;
    margin: 38px 0 0 0;
    padding: 0;
    width: 239px;
}

#content .ourservices figure img {
    border-color: $background-color-title;
    border-style: solid;
    border-width: 6px;
    border-radius: 15px;
    display: block;
    height: 164px;
    margin: 0;
    padding: 0;
    width: 227px;
}

#content .ourservices .right-column {
    color: $font-color-light;
    float: right;
    padding: 0 3px;
    width: 408px;
}

#content .ourservices .right-column h3 {
    background-color: $background-color-title;
    color: $font-color-light;
    font-size: 1.3em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 6px;
    text-align: center;
    width: auto;
}

#content .ourservices .right-column p {
    color: $background-color-title;
    line-height: 1.23em;
    margin: 2px 0 5px 0;
    padding: 5px;
    width: auto;
}

/*
  Getting Started
*****************/

#content .gettingstarted .left-sidebar {
    float: left;
}

#content .gettingstarted .left-sidebar h2 {
    margin-bottom: 11px;
    width: 243px;
}

#content .gettingstarted .left-sidebar a img {
    border: 0;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

#content .gettingstarted .left-sidebar form {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}

#content .gettingstarted .left-sidebar input[type="submit"] {
    margin: 4px 0;
    width: 255px;
}

#content .gettingstarted .left-sidebar img {
    border: 0;
    display: block;
    height: 380px;
    margin: 10px 0;
    padding: 0;
    width: 255px;
}

#content .gettingstarted .main {
    background-color: $font-color-light;
    border-color: $background-color-title;
    border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    margin: 0 0 0 40px;
    padding: 20px 5px;
    width: 640px;
}

#content .gettingstarted h3 {
    color: $font-color-mid;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 3px;
}

.gettingstarted p {}

.gettingstarted ul {
    margin-top: 0;
}

/*
  Resources
*****************/

#content .resources .left-column {
    float: left;
    margin-right: 35px;
    margin-left: 5px;
    width: 300px;
}

#content .resources .center-column {
    float: left;
    width: 280px;
}

#content .resources .right-column {
    float: right;
    width: 300px;
}

#content .resources .left-column img {
    margin: 0 auto;
}

#content .resources .right-column img {
    margin: 0 auto;
}

#content .resources .box {
    margin: 0 0 10px 0;
    padding: 0;
    width: auto;
}

#content .resources .center-column .box {
    background-color: $font-color-light;
    border-color: $background-color-title;
    border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    margin: 0 0 10px 0;
    padding: 0;
    width: auto;
}

#content .resources .box h3 {
    margin: 6px;
}

#content .resources .box p {
    margin: 6px;
}

#content .resources .box p.contact-name {
    clear: both;
    margin-bottom: 0;
}

#content .resources .box p.contact-phone {
    margin-top: 0;
    text-align: right;
    white-space: nowrap;
}

#content .resources .box p.contact-single-left {
    border: 0;
    float: left;
    margin: 0 0 6px 6px;
    padding: 0;
}

#content .resources .box p.contact-single-right {
    border: 0;
    margin: 0 6px 6px 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

#content .resources .box hr {
    background-color: $background-color-title;
    border: 0;
    color: $background-color-title;
    height: 12px;
    margin: 0 0 10px 0;
    padding: 0;
    width: 95%;
}

#content .resources .left-column hr {
    margin-left: 0;
    margin-right: auto;
}

#content .resources .center-column hr {
    margin-left: auto;
    margin-right: auto;
}

#content .resources .right-column hr {
    margin-left: auto;
    margin-right: 0;
}

/*
  Sign Up
*****************/

#content .sign-up div.message {
    border: 0;
    margin: 24px 0;
    padding: 0;
}

#content .sign-up div.button {
    border: 0;
    margin: 24px 0;
    padding: 0;
    text-align: center;
}

#content .sign-up table {
    margin: 24px auto;
    width: auto;
}

#content .sign-up table th {
    font-weight: bold;
    text-align: right;
}

#content .sign-up table td {
    font-weight: normal;
    text-align: left;
}

#content .sign-up table td input {
    width: 300px
}